# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.HYDAC_MR.iml
# Datasource local storage ignored files
/../../../../../../../../:\1. Unity Projects\HYDAC\MR Assembly\HYDAC_MR\.idea\.idea.HYDAC_MR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
